.console-wrapper {
  width: 50vw;
  height: 50vh;

  background-color: #131920;
  border: 2px solid green;

  border-radius: 10px;
}

.console-header {
  width: 100%;
  height: 10%;
  /* background-color: #040716; */

  display: flex;
  align-items: center;
  justify-content: start;
}

.buttons {
  width: 15%;
  display: flex;
  /* justify-content: space-evenly; */
  z-index: 2;
  position: absolute;
}

.button1, .button2, .button3 {
  height: 10px;
  width: 10px;
  border-radius: 50%;

  margin-left: 5px;

  background-color: #ff3b47;
  border-color: #9d252b;
  
}

.button2{
    background-color:#F4BF4F;
}

.button3{
    background-color: #61C554;
}

.console-name{
    text-align: center;
    width: 100%;
    color: #A3A5A8;

}

.console-text{
    padding: 5px;
    font-weight: 500;
    width: 90%;
    height: 80%;
}

.console-text .console-pointer{
    color: #4EACF9;
    font-size: 22px;
}

.regular-console{
    color: white;
    text-decoration: underline;
}

special1 {
    color: #2DB833;
}
special2{
    color: #E51EC4;
}

.console-text .console-content{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 60px;
    font-weight: 600;

}   
