@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;700&display=swap');

:root{
  --bg_color:#040716,
  --bg_terminal:#131920,
  --accent1:#2DB833,
  --accent2:#E51EC4
}

*{
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
}